header {
	display: flex;
	text-align: center;
	background-image: url(../images/header_background.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

h1 	{
	text-decoration: underline;
}

/* Left */
.header-left-side {
    display: flex;
    justify-content: flex-start;
    width: 20%;
    margin-top: 5px;
}

.header-admin-icon {
    width: 60px;
    opacity: 0.8;
}

.header-admin-icon:hover {
    opacity: 1;
    transition: 0.2s;
}

/* Center */
.header-center-side {
	width: 60%;
}

.header-street, .header-city {
	font-size: large;
	font-weight: bold;
	padding-top: 20px;
}

.header-city {
	padding-bottom: 30px;
}

/* Right */
.header-right-side {
	width: 20%;
    margin-top: 5px;
}

.header-authentication, .header-shoping-cart {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header-authentication {
    margin-top: 10px;
}

.header-register, .header-login {
    display: flex;
    justify-content: center;
    width: 45%;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
  
.header-register:hover, .header-login:hover {
    color: #ffffff;
    background-color: #008578;
    box-shadow: 0 0 10px #008578;
}

.header-register {
    color: white;
    background-color: #008578;
}
  
.header-login {
    color: #008578;
    background-color: #ffffff;
    border: 1px solid #008578;
}

.header-clean-shoping-cart-icon, .header-shoping-cart-icon {
    width: 40px;
    margin-top: 10px;
    opacity: 0.8;
}

.header-clean-shoping-cart-icon:hover, .header-shoping-cart-icon:hover {
    opacity: 1;
    transition: 0.2s;
}
