html {
	display: flex;
	justify-content: center;
}

body {
	width: 80%;
}

section {
	background-image: url(../images/fondvert.png);
	filter: grayscale(20%);
	padding-top: 15px;
	padding-bottom: 5px;
	text-align: center;
}
		
footer {	
	background-color: #008578;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.imgacc2 {
	width: 30%;
}

table {
	padding-top: 24px;
	padding-bottom: 24px;
	margin: 0 auto; 
	border-collapse: separate;
	text-align: center;
	vertical-align : middle;
}     

tr, td, th {
	border: 1px solid black;
}
