html {
	display: flex;
	justify-content: center;
}

body {
	width: 80%;
}

header {
	display: flex;
/* 	flex-direction: column; */
	text-align: center;
	background-image: url(../images/header_background.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.left {
	width: 20%;
}

.right {
	width: 20%;
}

.center {
	width: 60%;
}

h1 	{
	text-decoration: underline;
}

.title-street, .title-city {
	font-size: large;
	font-weight: bold;
	padding-top: 20px;
}

.title-city {
	padding-bottom: 30px;
}

ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
	background-color: #666666;
	overflow: hidden;
}

li {
    float: left;
}

li a {
	display: block;
    color: #ffffff;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	color: #ffffff;
	background: #008578;
}

section {
	background-image: url(../images/fondvert.png);
	filter: grayscale(20%);
	padding-top: 15px;
	padding-bottom: 5px;
	text-align: center;
}
		
footer {	
	background-color: #008578;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.imgacc2 {
	width: 30%;
}
